<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Formulário de Registro</title>
</head>

<body>
  <h1>Preencha o formulário</h1>

  <form action="/register" method="POST">
    <label>Nome de Usuário:</label>
    <input type="text" name="username">

    <label>Senha:</label>
    <input type="password" name="password">

    <button type="submit">Enviar</button>
  </form>
</body>
</html>